@mixin box-style {
  @include box-shadow(rgba(#2779a7, 0.75) 4px 4px 0px);
  background: #333;
}

@mixin no-shadow {
   @include box-shadow(rgba(#ffffff, 0.0) 0px 0px 0px);
}

@mixin rotate($degrees) {
  transform : rotate($degrees);
  -ms-transform : rotate($degrees); /* IE 9 */
  -moz-transform : rotate($degrees); /* Firefox */
  -webkit-transform : rotate($degrees); /* Safari and Chrome */
  -o-transform : rotate($degrees); /* Opera */
}

@mixin grayscale() {
     filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

@mixin ungrayscale() {
     filter: grayscale(0%); /* Current draft standard */
    -webkit-filter: grayscale(0%); /* New WebKit */
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%); 
    -o-filter: grayscale(0%); /* Not yet supported in Gecko, Opera or IE */ 
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}