#app{
  background: url(/img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;


  .wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    top: 50%;

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 200px
    }

    .links {
      position: absolute;
      display: block;
      top: 180px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    .links img {
      margin: 10px;
      height: 50px;
      border: 1px solid rgba(255,255,255,0.5);
      border-radius: 10px;
    }
    ul{
    list-style: none;
    padding: 0;
  }

  }



}