#footer {
  height: 0px;
  position: relative;
  background-color: #fff;

  div {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}

#footercontainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#foldbutton {
  position: relative;
  display: block;
  margin: auto;
  cursor: pointer;
}