#footer {
  height: 40px;
  position: relative;
  background-color: #F1F0F0;

  .contact {
    width: 600px;
    display: block;
    padding: 12px;
  }
}

#footercontainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
