#navigation {


  height: 80px;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.8);
  overflow: hidden;
  border-bottom: 2px solid #FAFAFA;

  #wrapper {
    position: relative;
    width: 952px;
    margin: 0 auto;
    height: 100%;

    img {
      height: 180px;
      margin-top: -20px;
      position: absolute;
    }

    ul {
      position: absolute;
      left: 200px;
      bottom: 8px;
      margin: 0;

      li {
        display: inline;
        color: #ffffff;
      }

      a {
        padding: 14px;
        text-decoration: none;
        color: #fff;
        background: rgba(160, 160, 160, 0.6);
        font-weight: bold;

      }

      a:hover {
        background-color: #005f5f;
        color: #000000;
        transition: background-color .3s, color .3s;

      }
      a.active {
        background-color: #FAFAFA;
        color: #000;
        transition: background-color .3s, color .3s;

      }
    }
  }
}