#navigation {
  list-style: none;
  text-align: center;
  height: 10%;
  width: 940px;

  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;

  img {
    height: 100px;
  }
  ul {
    display: inline-block;
  }

}