html {
  font-size: 62.5%;
}

body {
  color: $color-gray300;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.content {
  a {
    font-weight: 500;
    color: $color-blue100;
    text-decoration: none;
    transition: all ease-out 0.2s;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-rendering: optimizeLegibility;
    color: $color-gray100;

    a {
      font-weight: inherit;
      color: inherit;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }

  h1,
  h2 {
    font-size: 32px;
    line-height: 48px;
    margin: 40px 0 24px;
    font-weight: 700;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 24px 0;
    font-weight: 600;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
    margin: 16px 0;
    font-weight: 600;
  }

  p {
    margin: 16px 0;
  }

  ul {
    list-style: none;
  }

  li {
    position: relative;
  }

  ol > li,
  ul > li {
    &::before {
      position: absolute;
      width: 16px;
      margin-left: -32px;
      font-weight: 400;
      text-align: center;
      color: $color-gray300;
    }
  }

  ul > li {
    &::before {
      content: '•';
    }
  }

  ol > li {
    list-style-type: none;
    counter-reset: item;

    &::before {
      content: counter(item) '. ' !important;
      counter-increment: item;
    }
  }

  ol,
  ul {
    padding-left: 32px;
    margin: 16px 0;

    ol,
    ul {
      margin: 8px 0;
    }
  }

  dl {
    margin: 16px 0;

    dt {
      font-size: 0.875em;
      line-height: 1.143em;
      font-weight: 700;
      margin-bottom: 0.571em;
      color: #fff;
    }

    dd {
      margin-left: 1em;
      margin-bottom: 1.5em;
    }
  }

  hr {
    display: block;
    height: 1px;
    margin: 2em 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.25);
    border: 0;
  }

  blockquote {
    margin: 16px 0;
    padding: 0 16px;
    box-sizing: border-box;
    border-left: 0.25em solid rgba(255, 255, 255, 0.25);
    font-style: italic;
    font-weight: 400;
    color: #666;
    background: transparent;

    * {
      margin: 1em auto;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  em,
  i {
    font-weight: 400;
    font-style: italic;
  }

  b,
  strong {
    font-weight: 700;
    color: $color-gray200;
  }

  small {
    font-size: inherit;
    color: $color-gray400;
  }

  mark {
    background-color: $color-yellow100;
  }

  pre {
    color: $color-gray300;
  }

  code,
  tt {
    display: inline-block;
    position: relative;
    top: -1px;
    padding: 3px 6px;
    margin: -1px 2px;
    font-family: monospace;
    font-size: 0.875em;
    line-height: 1.143em;
    white-space: pre;
    background: rgba(255, 255, 255, 0.1);
    font-weight: 400;
    border-radius: 2px;
  }

  table {
    width: 100%;
    max-width: 100%;
    margin: 16px 0;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.25);

    td,
    th {
      position: relative;
      padding: 1em;
      line-height: 1em;
      text-align: left;
      border: 1px solid rgba(255, 255, 255, 0.25);
    }

    th {
      font-weight: 700;
      font-size: 0.75em;
      line-height: 1.334em;
      padding: 1.334em;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 16px 0;
  }

  iframe {
    margin: 16px 0;
  }
}
