html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.inner {
  position: relative;
  max-width: 720px;
  margin: auto;
  padding: 0 40px;

  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

#wrapper {
  position: relative;
  z-index: 10;
  padding: 80px 0;

  @media only screen and (max-width: $breakpoint) {
      padding-top: 40px;
  }
}

.info #wrapper {
  padding-bottom: 240px;
}


//============================================================
//	Navigation
//============================================================

#navigation {
    position: relative;
    z-index: 9999;
    display: flex;
    align-content: space-between;
    flex-direction: row;

    .inner {
      max-width: 1280px;
      display: flex;
      flex-grow: 1;

      @media only screen and (max-width: $breakpoint) {
        flex-wrap: wrap;
      }
    }

    .nav-logo {
        width: 160px;
        flex-shrink: 0;
        margin-left: 0;
        margin-right: auto;

        @media only screen and (max-width: $breakpoint) {
          order: 1;
        }

        a {
            display: block;
            text-decoration: none;
            color: inherit;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .nav-menu {
        margin: 0 auto;
        padding: 0 20px;

        @media only screen and (max-width: $breakpoint) {
          order: 3;
          flex-grow: 1;
        }
    }

    .nav-social {
        margin-left: auto;
        margin-right: 0;
        padding: 0 12px;

        @media only screen and (max-width: $breakpoint) {
          order: 2;
        }

        a {
            font-size: 16px;
            width: 40px;
            padding-left: 12px;
            padding-right: 12px;

            i:before {
                margin: 0;
            }
        }
    }

  ul {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 0;
      padding: 0;

    li {
      display: flex;

      a {
        position: relative;
        display: block;
        font-size: 14px;
        line-height: 16px;
        padding: 32px 20px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        color: $color-gray400;

        transition: all ease-out 0.2s;
        box-sizing: border-box;

        &:hover,
        &:focus {
          color: $color-gray300;
        }

        &.active {
          font-weight: 700;
          color: $color-gray200;
        }
      }
    }
  }
}

.gallery,
.map {

    #navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(#FFFFFF,rgba(255,255,255,.7));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
}

//============================================================
// Frontpage
//============================================================

.index .inner {
  max-width: 960px;
  padding: 0;
}

.front {
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: $breakpoint) {
    flex-direction: column;
  }
}

.front-image {
  position: relative;
  float: left;
  width: 50%;
  margin: -5% 0 -10%;

  @media only screen and (max-width: $breakpoint) {
    width: 75%;
    margin: -64px 12.5% 0;
  }

  img {
    margin: 0;
  }
}

.front-text {
  position: relative;
  width: 50%;
  z-index: 10;
  align-self: center;
  padding-right: 40px;
  margin-left: -40px;
  box-sizing: border-box;

  @media only screen and (max-width: $breakpoint) {
    width: auto;
    margin: 0;
    padding: 0 40px;
    text-align: center;
  }

  .front-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 8px;

    @media only screen and (max-width: $breakpoint) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .front-description {
    position: relative;
    margin-top: 0;

    @media only screen and (max-width: $breakpoint) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .download {
    display: block;
    z-index: 3;
    margin: 0 -4px;

    .button {
      display: inline-block;
      padding: 10px 24px;
      margin: 4px;
      width: auto;
      font-size: 14px;
      line-height: 24px;
      background: $color-yellow100;
      color: #000;
      font-weight: 700;
      text-decoration: none;
      border-radius: 3em;

      span {
          display: block;

            &:after {
                position: relative;
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                margin: -2px 0 -2px 8px;
                background: url('../images/icon-arrow.svg') center center / contain transparent;
                transform-style: preserve-3d;
                transform: translate3d(0,0,0);
                transition: all ease-out 0.3s;
            }
      }

      &:hover,
      &:focus {
          span:after {
              transform: translate3d(4px,0,0);
          }
      }
    }
  }
}

html.ios .download .button-android {
  display: none;
}

html.android .download .button-ios {
  display: none;
}

//============================================================
// Info
//============================================================


.content ul.team-list {
    list-style: none;
    padding: 0;
    margin: -8px;

    &:after {
        clear: both;
        content: '';
        display: table;
    }

    li {
        width: 50%;
        float: left;
        padding: 8px;
        box-sizing: border-box;

        @media only screen and (max-width: $breakpoint) {
            width: auto;
            float: none;
        }

        &:before {
            display: none;
        }

        a {
            display: block;
            height: 80px;
            padding: 16px;
            border: 1px solid $color-gray500;
            border-radius: 3px;
            box-sizing: border-box;

            &:hover,
            &:focus {
                text-decoration: none;
                border-color: $color-gray400;
            }
        }
    }

    li.contribute {
        width: 100%;

        a {
            position: relative;
            overflow: hidden;
            height: auto;
            padding: 24px;
            padding-right: 33%;
            border: 0;
            border-radius: 6px;
            background: url('../images/icon-github.svg') no-repeat scroll right 24px bottom -16px / contain $color-yellow100;
            color: $color-gray100;

            @media only screen and (max-width: $breakpoint) {
              background-position: right -64px bottom -16px;
            }
        }

        .contribute-title {
            display: block;
            margin-bottom: 8px;
            font-weight: 800;
            font-size: 24px;
            line-height: 32px;
        }

        .contribute-copy {
            display: block;
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        .contribute-link {
            display: block;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;

            &:after {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                margin: -2px 8px;
                background: url('../images/icon-arrow.svg') center center / contain transparent;
            }
        }
    }

    .team-avatar {
        width: 48px;
        height: 48px;
        margin: 0 8px 0 0;
        float: left;
        border-radius: 2px;
        overflow: hidden;
        background: $color-gray500;

        img {
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
        }
    }

    .team-name {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: $color-gray200;
    }

    .team-user {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: $color-gray300;
    }

    .team-project {
        display: block;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        color: $color-gray400;
    }
}

// ============================================================
// Gallery
// ============================================================

#gallerymap {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #B9D4EE;
  left: 0;
  top: 0;
}

.popupimage {
  display: block;
  width: 160px;
  margin: 20px auto;
}

// ============================================================
// Map
// ============================================================

#map {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #B9D4EE;
  left: 0;
  top: 0;
}

#map-count {
  position: fixed;
  height: 32px;
  left: 0;
  bottom: 0;
  margin-left: 46px;
  margin-bottom: 96px;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background: rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: $color-gray200;
  z-index: 100;
  box-sizing: border-box;

  @media only screen and (max-width: $breakpoint) {
    display: none;
  }
}

#map-share {
  position: fixed;
  left: 0;
  bottom: 0;
  width: calc(100vw - 56px);
  max-width: 480px;
  margin-left: 46px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 12px 0;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background: rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: $color-gray200;
  z-index: 100;
  box-sizing: border-box;

  @media only screen and (max-width: $breakpoint) {
    display: none;
  }

  p {
    margin-top: 0.25em;
  }

  pre {
    color: $color-gray300;
    margin: -4px -12px 0;
    padding: 12px;
    overflow-x: scroll;
    overflow-y: hidden;
    background: #FFF;
    border-radius: 0 0 4px 4px;
  }
}


//============================================================
// Videos
//============================================================


.video-post {
  margin: 2.5em auto;

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  .video-info {
    float: left;
    width: 33.333%;
    box-sizing: border-box;
    padding-right: 0.5em;

    @media only screen and (max-width: $breakpoint) {
      float: none;
      width: auto;
      padding: 0;
    }

    .video-title {
      margin: 0;
    }

    p {
      margin: 0 0 1em;
      font-style: italic;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .video-media {
    float: right;
    width: 66.666%;
    box-sizing: border-box;
    padding-left: 0.5em;

    @media only screen and (max-width: $breakpoint) {
      float: none;
      width: auto;
      padding: 0;
    }

    .video-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      margin: 0;
      padding-bottom: 56.25%;
      background: rgba(0, 0, 0, 0.25);
      box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.1);

      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;

        opacity: 0;
        transition: opacity ease-out 0.75s;

        &.lazy-loaded {
          opacity: 1;
        }
      }
    }
  }
}
