html, body {
	height: 100%;
	padding: 0;
	margin: 0;
    background: $color-gray;
	text-rendering: optimizeLegibility;
}

.inner {
	position: relative;
	max-width: 50em;
	margin: auto;
	padding: 0 2em;
	
	@media only screen and (max-width: $breakpoint) {
		padding: 0 1em;
	}
	
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}


/*
	============================================================
	Frontpage	
    ============================================================
*/

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	padding-top: 2em;
	text-align: center;
	background-image: (linear-gradient(rgba(38,38,38,25), rgba(38,38,38,0)));
	
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}

.gallery,
.map {
	
	#header {
		background-image: (linear-gradient(rgba(38,38,38,95), rgba(38,38,38,0.85)));
	}
}

#logo {
	float: left;
	position: relative;
	
	@media only screen and (max-width: $breakpoint) {
		float: none;
	}
	
	.label {
		display: block;
		height: 3em;
		line-height: 3em;
		font-weight: 700;
		color: #fff;
	}
}

#navigation {
	float: right;
	position: relative;
	
	@media only screen and (max-width: $breakpoint) {
		float: none;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		
		
		&:after {
			clear: both;
			content: '';
			display: table;
		}
	
		li {
			display: inline-block;

			height: 2.5em;
			line-height: 2.5em;
			
			&.label {
				padding: 0.25em;
			}
			
			&.icon {
				padding: 0.25em 0;
			}

			a {
				position: relative;
				display: block;
				font-size: 0.8em;
				padding: 0 0.5em;
				font-weight: 400;
				text-decoration: none;
				text-align: center;
				color: rgba(255,255,255,0.7);
				
				transition: all ease-out .2s;
				box-sizing: border-box;

				&:hover,
				&:focus {
					color: rgba(255,255,255,0.8);
				}
				
				&.active {
					font-weight: 600;
					color: #fff;
				}
			}
		}
	}
}

#wrapper {
	position: relative;
	z-index: 10;
	padding: 8em 0 4em;
	
	@media only screen and (max-width: $breakpoint) {
		padding-top: 12em;
	}
}

/*
	============================================================
	Frontpage	
    ============================================================
*/
	
.title {
	position: relative;
	z-index: 10;
	padding-top: 10%;
	
	.tagline {
		position: relative;
		font-size: 2em;
		width: 50%;
		max-width: 8em;
		margin: 1em auto;
		padding: 0;
		font-weight: 700;
		text-align: center;
		color: #fff;
		
		.logo {
			display: block;
			width: 100%;
			height: 0;
			padding-bottom: 75%;
			margin: auto;
			color: transparent;
			
			background: url('../images/logo.svg') scroll no-repeat center center / contain transparent;
		}
	}
	
	.subline {
		position: relative;
		font-size: 1.25em;
		line-height: 1.5em;
		margin: 2em auto;
		padding: 0;
		font-weight: 400;
		font-style: italic;
		text-align: center;
		color: #fff;
	}
	
	.download {
		display: block;
		z-index: 3;
		text-align: center;
		
		&.download-dektop {
			display: block;
		}
		
		&.download-mobile {
			display: none;
		}

		.button {
			display: inline-block;
			margin: 0.667em 0.334em;
			padding: 0.667em 1em;
			width: auto;
			line-height: 1em;
			background: $color-green;
			color: $color-gray;
			font-weight: 700;
			text-decoration: none;
			border-radius: 3em;
			box-shadow: 0 0.25em 1em rgba(0,0,0,0.1);
			
			transform-style: preserve-3d;
			transform: scale(1);
			
			transition: all  cubic-bezier(0.5, 1.75, 0.5, 1) 0.5s;

			&:hover,
			&:focus {
				background: $color-green-active;
				transform: scale(1.1);
				box-shadow: 0 0.25em 1.5em rgba(0,0,0,0.2);
			}
			
			&.button-github {
				background: rgba(19,19,19,0.8);
				color: #ccc;
				font-weight: 600;
			}
			
			i {
				display: inline-block;
				margin-left: -0.2em;
				margin-top: -0.1em;
				font-size: 1.25em;
				color: inherit;
			}
		}
	}
}

.cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: url('../images/map.jpg') scroll no-repeat center center / cover transparent;
	z-index: 1;
	opacity: 0;
	transform-style: preserve-3d;
	animation: forwards fadeIn 1s;
	z-index: 5;
	
	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50vh;
		background-image: (linear-gradient(rgba(38,38,38,0), rgba(38,38,38,1)));
	}
}

@keyframes fadeIn {
    0%, 10% {
        opacity: 0
    }

    100% {
        opacity: .8
    }
}


/*
	============================================================
	Gallery	
    ============================================================
*/

#gallerymap {
	position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #B5D0D0;
    left: 0;
    top: 0;
}
.popuplink {
	
}
.popupimage {
	display: block;
    width: 160px;
    margin: 20px auto;
}


/*
	============================================================
	Map	
    ============================================================
*/

#map {
	position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #B5D0D0;
    left: 0;
    top: 0;
}
#map-share {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 480px;
	max-width: 75%;
	margin-left: 46px;
	margin-bottom: 10px;
	padding: 0.667em;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	font-size: 0.75em;
	font-weight: 400;
	background: #f4f4f4;
	color: #000;
	z-index: 100;
	
	p {
		margin-top: 0.25em;
	}
	
	pre {
		margin: -0.334em;
		padding: 0.667em;
		overflow-x: scroll;
		overflow-y: hidden;
		background: #ddd;
		border-radius: 2px;
	}
}


/*
	============================================================
	Videos	
    ============================================================
*/

.video-post {
	margin: 2.5em auto;
	
	&:after {
		clear: both;
		content: '';
		display: table;
	}

	.video-info {
		float: left;
		width: 33.333%;
		box-sizing: border-box;
		padding-right: 0.5em;
		
		@media only screen and (max-width: $breakpoint) {
			float: none;
			width: auto;
			padding: 0;
		}

		.video-title {
			margin: 0;
		}
		
		p {
			margin: 0 0 1em;
			font-style: italic;
			font-weight: 300;
			color: rgba(255,255,255,0.5);
		}
	}
	
	.video-media {
		float: right;
		width: 66.666%;
		box-sizing: border-box;
		padding-left: 0.5em;
		
		@media only screen and (max-width: $breakpoint) {
			float: none;
			width: auto;
			padding: 0;
		}
		
		.video-wrapper {
			position: relative;
			width: 100%;
			height: 0;
			margin: 0;
			padding-bottom: 56.25%;
			background: rgba(0,0,0,0.25);
			box-shadow: 0 0.25em 1em rgba(0,0,0,0.1);
		
			iframe {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				
				opacity: 0;
				transition: opacity ease-out 0.75s;
				
				&.lazy-loaded {
					opacity: 1;
				}
			}
		}
	}
}