$color-gray: #262626;

$color-green: #3dcc85;
$color-green-active: #45e695;

$color-yellow: #fc0;
$color-yellow-active: #ffd733;

$color-primary: $color-yellow;
$color-primary-active: $color-yellow-active;

$breakpoint: 720px;
