$color-gray: #262626;

$color-green: #3dcc85;
$color-green-active: #45e695;

$color-yellow: #fc0;
$color-yellow-active: #ffd733;

$color-primary: $color-yellow;
$color-primary-active: $color-yellow-active;

$breakpoint: 640px;



$color-gray100: #1a1a1a;
$color-gray200: #262626;
$color-gray300: #45474d;
$color-gray400: #909399;
$color-gray500: #dadce0;
$color-gray600: #fafafa;

$color-yellow100: #ffd633;
$color-blue100: #1da1f2;
