$color-green:			#3DCC85;
$color-green-active:	#45E695;
$color-gray:			#262626;
$color-yellow:			#FFCC00;
$color-yellow-active:	#FFD733;
$color-primary:			$color-yellow;
$color-primary-active:	$color-yellow-active;

$breakpoint:			720px;

@import "fonts";
@import "icons";
@import "base";
@import "layout";