<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-EN" class="<%= current_route.PathName %>">

<head profile="http://gmpg.org/xfn/11">

  <title><%= t("critical_maps") %> – <%= t("title") %></title>

  <%= stylesheetTag("application.css") %>

  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="<%= authenticity_token %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">

  <meta name="google-site-verification" content="T8DYfxSVjZO9-CyDCt4OHUfykrd0HNSCB6sGYGWec98" />

  <meta name="description"
    content="An open source Android and iOS App to organise the monthly critical mass movement around the world." />
  <meta name="keywords" content="critical maps, app, android, ios, iphone, critical mass, bike app" />
  <meta name="robots" content="index, follow" />

  <meta property="og:title" content="<%= t("critical_maps") %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://criticalmaps.net/" />
  <meta property="og:description"
    content="An open source Android and iOS App to organise the monthly critical mass movement around the world." />
  <meta property="og:site_name" content="<%= t("critical_maps") %>" />

  <meta property="og:image" content="http://criticalmaps.net/assets/images/logo-opengraph.png" />

  <meta name="twitter:card" content="app">
  <meta name="twitter:site" content="@CriticalMaps">
  <meta name="twitter:title" content="Critical Maps for iOS and Android">
  <meta name="twitter:description"
    content="An open source Android and iOS App to organise the monthly critical mass movement around the world.">
  <meta name="twitter:app:name:iphone" content="<%= t("critical_maps") %>">
  <meta name="twitter:app:id:iphone" content="918669647">
  <meta name="twitter:app:name:googleplay" content="<%= t("critical_maps") %>">
  <meta name="twitter:app:id:googleplay" content="de.stephanlindauer.criticalmaps">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "WebSite",
      "name": "<%= t("critical_maps") %>",
      "description": "An open source Android and iOS App to organise the monthly critical mass movement around the world.",
      "url": "https://criticalmaps.net",
      "image": "http://criticalmaps.net/assets/images/logo-opengraph.png",
      "sameAs": [
        "https://github.com/criticalmaps",
        "https://twitter.com/criticalmaps",
        "https://www.facebook.com/criticalmaps"
      ]
    }
    </script>

  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/logo-touch-icon-76.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/logo-touch-icon-120.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/logo-touch-icon-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="167x167" href="/assets/images/logo-touch-icon-167.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/images/logo-touch-icon-180.png">
  <link rel="icon" sizes="192x192" href="/assets/images/logo-icon-192.png">
  <link rel="mask-icon" color="#000000" href="/assets/images/logo-mask-icon.svg">
  <link rel="shortcut icon" type="image/png" href="/assets/images/logo-favicon.png">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css"
    integrity="sha384-99ZJFcuBCh9c/V/+8YwDX/TUGG8JWMG+gKFJWzk0BZP3IoDMN+pLGd3/H0yjg4oa" crossorigin="" />
  <script src="https://unpkg.com/leaflet@0.7.7/dist/leaflet.js"
    integrity="sha384-Lh7SNUss9JoImCvc96eCUnLX3HvY4kb0UZCWZbYWvceJ+o5CJeOJqqNoheaGkNHT" crossorigin=""></script>

</head>

<body>

  <header id="navigation">
    <div class="inner">
      <div class="nav-logo">
        <a href="/"><img src="/assets/images/logo.svg" alt="<%= t("critical_maps") %>" /></a>
      </div>
      <div class="nav-menu">
        <ul>
          <li class="label">
            <a class="<%= if (current_route.PathName == "rootPath") { %>active<% } %>" href="/">App</a>
          </li>
          <li class="label">
            <a class="<%= if (current_route.PathName == "mapPath") { %>active<% } %>" href="/map">Map</a>
          </li>
          <li class="label">
            <a class="<%= if (current_route.PathName == "galleryPath") { %>active<% } %>" href="/gallery">Gallery</a>
          </li>
          <li class="label">
            <a class="<%= if (current_route.PathName == "infoPath") { %>active<% } %>" href="/info">Info</a>
          </li>
        </ul>
      </div>
      <div class="nav-social">
        <ul>
          <li class="icon">
            <a class="facebook" href="https://www.facebook.com/criticalmaps" target="_blank" rel="noopener"
              title="Critical Maps on Facebook"><i class="icon-facebook"></i></a>
          </li>
          <li class="icon">
            <a class="twitter" href="https://twitter.com/criticalmaps" target="_blank" rel="noopener"
              title="Critical Maps on Twitter"><i class="icon-twitter"></i></a>
          </li>
          <li class="icon">
            <a class="twitter" href="https://github.com/criticalmaps" target="_blank" rel="noopener"
              title="Critical Maps on GitHub"><i class="icon-github"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <%= yield %>

  <%= javascriptTag("application.js") %>
  <%= javascriptTag("leaflet-hash.js") %>
</body>

</html>