<div id="wrapper">
  <div class="inner content">
    <div class="front">
      <figure class="front-image">
        <img src="/assets/images/app-ios.jpg" width="480" height="640" alt="Critical Maps on iPhoneX" />
      </figure>
      <div class="front-text">
        <h1 class="front-title">Critical Maps</h1>
        <p class="front-description">An open source Android and iOS App to organise the monthly critical mass movement
          around the world.</p>
        <div class="download">
          <a class="button button-ios" href="https://itunes.apple.com/app/critical-maps/id918669647" target="_blank"
            rel="noopener"><span>App Store</span></a>
          <a class="button button-android"
            href="https://play.google.com/store/apps/details?id=de.stephanlindauer.criticalmaps" target="_blank"
            rel="noopener"><span>Google Play</span></a>
            <a class="button button-fdroid" href="https://f-droid.org/en/packages/de.stephanlindauer.criticalmaps/"
            target="_blank" rel="noopener"><span>F-Droid</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
