<div id="wrapper">
  <div class="inner content">
    <div class="front">
      <figure class="front-image">
        <picture>
            <source srcset="/assets/images/app-ios-dark.jpg" media="(prefers-color-scheme: dark)">
            <img src="/assets/images/app-ios.jpg" width="480" height="640" alt="<%= t("critical_maps_on_device") %>" />
        </picture>
      </figure>
      <div class="front-text">
        <h1 class="front-title"><%= t("critical_maps") %></h1>
        <p class="front-description"><%= t("info") %></p>
        <div class="download">
          <a class="button button-ios" href="https://itunes.apple.com/app/critical-maps/id918669647" target="_blank"
            rel="noopener"><span><%= t("app_store") %></span></a>
          <a class="button button-android"
            href="https://play.google.com/store/apps/details?id=de.stephanlindauer.criticalmaps" target="_blank"
            rel="noopener"><span><%= t("google_play") %></span></a>
        </div>
        <p class="f-droid"><%= t("f-droid_info") %> <a href="https://f-droid.org/en/packages/de.stephanlindauer.criticalmaps/"
        target="_blank" rel="noopener"><%= t("f-droid") %></a></p>
      </div>
    </div>
  </div>
</div>
