<div id="wrapper">
	<div class="inner content">

		<h2><a name="Team"><%= t("team") %></a></h2>
		<ul class="team-list">
			<li>
				<a href="https://github.com/stephanlindauer" target="_blank" rel="noopener">
					<figure class="team-avatar">
						<img src="https://avatars3.githubusercontent.com/u/1323145?s=96"
							alt="Avatar of Stephan Lindauer" />
					</figure>
					<span class="team-name">Stephan Lindauer</span>
					<span class="team-user">stephanlindauer</span>
					<span class="team-project">Android, API</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/headione" target="_blank" rel="noopener">
					<figure class="team-avatar">
						<img src="https://avatars1.githubusercontent.com/u/1220469?s=96"
							alt="Avatar of Norman Sander" />
					</figure>
					<span class="team-name">Norman Sander</span>
					<span class="team-user">headione</span>
					<span class="team-project">iOS</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/cbalster" target="_blank" rel="noopener">
					<figure class="team-avatar">
						<img src="https://avatars1.githubusercontent.com/u/9266843?s=96"
							alt="Avatar of Christian Balster" />
					</figure>
					<span class="team-name">Christian Balster</span>
					<span class="team-user">cbalster</span>
					<span class="team-project">Android</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/lennet" target="_blank" rel="noopener">
					<figure class="team-avatar">
						<img src="https://avatars3.githubusercontent.com/u/7677738?s=96" alt="Avatar of Leo Thomas" />
					</figure>
					<span class="team-name">Leo Thomas</span>
					<span class="team-user">lennet</span>
					<span class="team-project">iOS</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/ligi" target="_blank" rel="noopener">
					<figure class="team-avatar">
						<img src="https://avatars2.githubusercontent.com/u/111600?s=96" alt="Avatar of ligi" />
					</figure>
					<span class="team-name">ligi</span>
					<span class="team-user">ligi</span>
					<span class="team-project">Android</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/zutrinken" target="_blank" rel="noopener">
					<figure class="team-avatar">
						<img src="https://avatars0.githubusercontent.com/u/888679?s=96" alt="Avatar of Peter Amende" />
					</figure>
					<span class="team-name">Peter Amende</span>
					<span class="team-user">zutrinken</span>
					<span class="team-project">Design</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/mltbnz" target="_blank" rel="noopener">
					<figure class="team-avatar">
						<img src="https://avatars1.githubusercontent.com/u/14075359?s=96" alt="Avatar of Malte Bünz" />
					</figure>
					<span class="team-name">Malte Bünz</span>
					<span class="team-user">mltbnz</span>
					<span class="team-project">iOS</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/fbernutz" target="_blank" rel="noopener">
					<figure class="team-avatar">
						<img src="https://avatars1.githubusercontent.com/u/26111180?s=96" alt="Avatar of Felizia Bernutz" />
					</figure>
					<span class="team-name">Felizia Bernutz</span>
					<span class="team-user">fbernutz</span>
					<span class="team-project">iOS</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/johnjohndoe" target="_blank" rel="noopener">
					<figure class="team-avatar">
						<img src="https://avatars0.githubusercontent.com/u/144518?s=96" alt="Avatar of Tobias Preuss" />
					</figure>
					<span class="team-name">Tobias Preuss</span>
					<span class="team-user">johnjohndoe</span>
					<span class="team-project">Android</span>
				</a>
			</li>
			<li class="contribute">
				<a href="https://github.com/criticalmaps" target="_blank" rel="noopener">
					<span class="contribute-title"><%= t("open_source_title") %></span>
					<span class="contribute-copy"><%= t("open_source_copy") %></span>
					<span class="contribute-link"><%= t("open_source_link") %></span>
				</a>
			</li>
		</ul>

		<h2><a name="Contributors"><%= t("contributors") %></a></h2>

		<ul>
			<li><a href="https://github.com/kibotu">Jan Rabe</a> <small>(Android)</small></li>
			<li><a href="https://github.com/askarsyzdykov">Askar Syzdykov</a> <small>(Android)</small></li>
			<li><a href="https://github.com/weliveindetail">Stefan Gränitz</a> <small>(Web)</small></li>
			<li><a href="https://github.com/maxxx777">Maxim Tsvetkov</a> <small>(iOS)</small></li>
			<li><a href="https://github.com/huschu">Joscha</a> <small>(iOS)</small></li>
			<li><a href="https://github.com/besilva">Bernardo Silva</a> <small>(iOS)</small></li>
			<li>Gitti la Mar <small>(First Logo)</small></li>
			<li>Caner Ba&#351;aran <small>(Translation)</small></li>
			<li>Luca Gemini <small>(Translation)</small></li>
			<li>Lena Osswald <small>(Translation)</small></li>
			<li>Rodrigo Aguilera <small>(Translation)</small></li>
			<li>Helen Sawyer <small>(Translation)</small></li>
			<li>Alban Sagouis <small>(Translation)</small></li>
		</ul>

		<h2><a name="Impressum"><%= t("imprint") %></a></h2>

		<p>Angaben gemäß § 5 TMG</p>
		<pre>Stephan Lindauer
Siegfriedstr. 45
12051 Berlin</pre>
		<p>Vertreten durch: Stephan Lindauer und Norman Sander</p>
		<p>Kontakt: <a href='mailto:stephanlindauer@posteo.de'>stephanlindauer@posteo.de</a></p>

		<h2><a name="Haftungsausschluss">Haftungsausschluss</a></h2>

		<h3>Haftung für Inhalte</h3>
		<p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
			Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
			Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis
			10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde
			Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
			Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
			bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
			konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
			Inhalte umgehend entfernen.</p>


		<h3>Haftung für Links</h3>
		<p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben.
			Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
			Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten
			wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
			Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist
			jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
			Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>


		<h3>Urheberrecht</h3>
		<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
			Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
			Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
			Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit
			die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet.
			Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
			Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
			Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>


		<h3>Datenschutz</h3>
		<p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren
			Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt
			dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung
			nicht an Dritte weitergegeben.</p>
		<p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
			Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
			möglich.</p>
		<p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung
			von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich
			widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der
			unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.</p>

		<h2><a name="Datenschutzerklärung">Datenschutzerklärung</a></h2>
		<p>Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung
			(DSGVO), ist:</p>
		<pre>Stephan Lindauer
Siegfriedstr. 45
12051 Berlin</pre>

		<h3>Geltungsbereich</h3>
		<p>Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke der Erhebung und Verwendung
			personenbezogener Daten durch den verantwortlichen Anbieter Stephan Lindauer (stephanlindauer@posteo.de)
			auf. Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz (BDSG) und dem
			Telemediengesetz (TMG).</p>

		<h3>Die Critical Mass App</h3>
		<p>Die Critical Mass App nimmt, sofern nicht deaktivert, die GPS Daten des Smartphones und sendet diese unter
			Verwendung der gehashten Device ID an den Server. Auf dem Server werden diese Daten gespeichert und
			anonymisiert an die anderen Smartphones, die diese App gerade nutzen, verteilt.
		</p>

		<h3>Zugriffsdaten/Server-Logfiles</h3>
		<p>Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt Daten über jeden Zugriff auf das Angebot (so
			genannte Serverlogfiles). Zu den Zugriffsdaten gehören: Name der abgerufenen Webseite, Datei, Datum und
			Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das
			Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.
			Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen zum Zweck des Betriebs, der
			Sicherheit und der Optimierung des Angebotes. Der Anbieter behält sich jedoch vor, die Protokolldaten
			nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer
			rechtswidrigen Nutzung besteht.</p>

		<h3>Umgang mit personenbezogenen Daten</h3>
		<p>Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person bestimmbar ist, also Angaben, die
			zurück zu einer Person verfolgt werden können. Dazu gehören der Name, die E-Mailadresse oder die
			Telefonnummer. Aber auch Daten über Vorlieben, Hobbies, Mitgliedschaften oder welche Webseiten von jemandem
			angesehen wurden zählen zu personenbezogenen Daten. Personenbezogene Daten werden von dem Anbieter nur dann
			erhoben, genutzt und weiter gegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die Datenerhebung
			einwilligen.</p>

		<h3>Kontaktaufnahme</h3>
		<p>Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular oder E-Mail) werden die Angaben
			des Nutzers zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.
		</p>

		<h3>Kommentare und Beiträge</h3>
		<p>Wenn Nutzer Kommentare im Blog oder sonstige Beiträge hinterlassen, werden ihre IP-Adressen gespeichert. Das
			erfolgt zur Sicherheit des Anbieters, falls jemand in Kommentaren und Beiträgen widerrechtliche Inhalte
			schreibt (Beleidigungen, verbotene politische Propaganda, etc.). In diesem Fall kann der Anbieter selbst für
			den Kommentar oder Beitrag belangt werden und ist daher an der Identität des Verfassers interessiert.</p>

		<h3>Einbindung von Diensten und Inhalten Dritter</h3>
		<p>Es kann vorkommen, dass innerhalb dieses Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von
			YouTube, Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden.
			Dies setzt immer voraus, dass die Anbieter dieser Inhalte (nachfolgend bezeichnet als "Dritt-Anbieter") die
			IP-Adresse der Nutzer wahr nehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser
			des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir
			bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur
			Auslieferung der Inhalte verwenden. Jedoch haben wir keinen Einfluss darauf, falls die Dritt-Anbieter die
			IP-Adresse z.B. für statistische Zwecke speichern. Soweit dies uns bekannt ist, klären wir die Nutzer
			darüber auf.</p>

		<h3>Widerruf, Änderungen, Berichtigungen und Aktualisierungen</h3>
		<p>Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten, die
			über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht auf Berichtigung unrichtiger Daten,
			Sperrung und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht
			entgegensteht.</p>
		<p><a
				href="http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/">Datenschutz-Muster
				von Rechtsanwalt Thomas Schwenke</a></p>

		<h3>Ihre Betroffenenrechte</h3>
		<p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte
			ausüben:</p>
		<ul>
			<li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung,</li>
			<li>Berichtigung unrichtiger personenbezogener Daten,</li>
			<li>Löschung Ihrer bei uns gespeicherten Daten,</li>
			<li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht
				löschen dürfen,</li>
			<li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns und</li>
			<li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns
				abgeschlossen haben.</li>
		</ul>
		<p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft
			widerrufen.</p>
		<p>Sie können sich jederzeit mit einer Beschwerde an die für Sie zuständige Aufsichtsbehörde wenden. Ihre
			zuständige Aufsichtsbehörde richtet sich nach dem Bundesland Ihres Wohnsitzes, Ihrer Arbeit oder der
			mutmaßlichen Verletzung. Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift
			finden Sie unter: <a
				href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
				target="_blank"
				rel="noopener">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
		</p>

		<h3>Zwecke der Datenverarbeitung durch die verantwortliche Stelle und Dritte</h3>
		<p>Wir verarbeiten Ihre personenbezogenen Daten nur zu den in dieser Datenschutzerklärung genannten Zwecken.
			Eine Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den genannten Zwecken findet nicht
			statt. Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:</p>
		<ul>
			<li>Sie Ihre ausdrückliche Einwilligung dazu erteilt haben,</li>
			<li>die Verarbeitung zur Abwicklung eines Vertrags mit Ihnen erforderlich ist,</li>
			<li>die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist,</li>
		</ul>
		<p>die Verarbeitung zur Wahrung berechtigter Interessen erforderlich ist und kein Grund zur Annahme besteht,
			dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben.</p>

		<h3>Löschung bzw. Sperrung der Daten</h3>
		<p>Wir halten uns an die Grundsätze der Datenvermeidung und Datensparsamkeit. Wir speichern Ihre
			personenbezogenen Daten daher nur so lange, wie dies zur Erreichung der hier genannten Zwecke erforderlich
			ist oder wie es die vom Gesetzgeber vorgesehenen vielfältigen Speicherfristen vorsehen. Nach Fortfall des
			jeweiligen Zweckes bzw. Ablauf dieser Fristen werden die entsprechenden Daten routinemäßig und entsprechend
			den gesetzlichen Vorschriften gesperrt oder gelöscht.</p>

		<h3>Erfassung allgemeiner Informationen beim Besuch unserer Website</h3>
		<p>Wenn Sie auf unsere Website zugreifen, werden automatisch mittels eines Cookies Informationen allgemeiner
			Natur erfasst. Diese Informationen (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das verwendete
			Betriebssystem, den Domainnamen Ihres Internet-Service-Providers und ähnliches. Hierbei handelt es sich
			ausschließlich um Informationen, welche keine Rückschlüsse auf Ihre Person zulassen.</p>
		<p>Diese Informationen sind technisch notwendig, um von Ihnen angeforderte Inhalte von Webseiten korrekt
			auszuliefern und fallen bei Nutzung des Internets zwingend an. Sie werden insbesondere zu folgenden Zwecken
			verarbeitet:</p>
		<ul>
			<li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
			<li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
			<li>Auswertung der Systemsicherheit und -stabilität sowie</li>
			<li>zu weiteren administrativen Zwecken.</li>
		</ul>
		<p>Die Verarbeitung Ihrer personenbezogenen Daten basiert auf unserem berechtigten Interesse aus den
			vorgenannten Zwecken zur Datenerhebung. Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu
			ziehen. Empfänger der Daten sind nur die verantwortliche Stelle und ggf. Auftragsverarbeiter.</p>
		<p>Anonyme Informationen dieser Art werden von uns ggfs. statistisch ausgewertet, um unseren Internetauftritt
			und die dahinterstehende Technik zu optimieren.</p>

		<h3>Cookies</h3>
		<p>Wie viele andere Webseiten verwenden wir auch so genannte „Cookies“. Cookies sind kleine Textdateien, die von
			einem Websiteserver auf Ihre Festplatte übertragen werden. Hierdurch erhalten wir automatisch bestimmte
			Daten wie z. B. IP-Adresse, verwendeter Browser, Betriebssystem und Ihre Verbindung zum Internet.</p>
		<p>Cookies können nicht verwendet werden, um Programme zu starten oder Viren auf einen Computer zu übertragen.
			Anhand der in Cookies enthaltenen Informationen können wir Ihnen die Navigation erleichtern und die korrekte
			Anzeige unserer Webseiten ermöglichen.</p>
		<p>In keinem Fall werden die von uns erfassten Daten an Dritte weitergegeben oder ohne Ihre Einwilligung eine
			Verknüpfung mit personenbezogenen Daten hergestellt.</p>
		<p>Natürlich können Sie unsere Website grundsätzlich auch ohne Cookies betrachten. Internet-Browser sind
			regelmäßig so eingestellt, dass sie Cookies akzeptieren. Im Allgemeinen können Sie die Verwendung von
			Cookies jederzeit über die Einstellungen Ihres Browsers deaktivieren. Bitte verwenden Sie die
			Hilfefunktionen Ihres Internetbrowsers, um zu erfahren, wie Sie diese Einstellungen ändern können. Bitte
			beachten Sie, dass einzelne Funktionen unserer Website möglicherweise nicht funktionieren, wenn Sie die
			Verwendung von Cookies deaktiviert haben.</p>

		<h3>Eingebettete YouTube-Videos</h3>
		<p>Auf einigen unserer Webseiten betten wir Youtube-Videos ein. Betreiber der entsprechenden Plugins ist die
			YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA. Wenn Sie eine Seite mit dem YouTube-Plugin
			besuchen, wird eine Verbindung zu Servern von Youtube hergestellt. Dabei wird Youtube mitgeteilt, welche
			Seiten Sie besuchen. Wenn Sie in Ihrem Youtube-Account eingeloggt sind, kann Youtube Ihr Surfverhalten Ihnen
			persönlich zuzuordnen. Dies verhindern Sie, indem Sie sich vorher aus Ihrem Youtube-Account ausloggen.</p>
		<p>Wird ein Youtube-Video gestartet, setzt der Anbieter Cookies ein, die Hinweise über das Nutzerverhalten
			sammeln.</p>
		<p>Wer das Speichern von Cookies für das Google-Ad-Programm deaktiviert hat, wird auch beim Anschauen von
			Youtube-Videos mit keinen solchen Cookies rechnen müssen. Youtube legt aber auch in anderen Cookies
			nicht-personenbezogene Nutzungsinformationen ab. Möchten Sie dies verhindern, so müssen Sie das Speichern
			von Cookies im Browser blockieren.</p>
		<p>Weitere Informationen zum Datenschutz bei „Youtube“ finden Sie in der Datenschutzerklärung des Anbieters
			unter: <a href="https://www.google.de/intl/de/policies/privacy/" target="_blank"
				rel="noopener">https://www.google.de/intl/de/policies/privacy/ </a></p>

		<h3>Änderung unserer Datenschutzbestimmungen</h3>
		<p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen
			Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B.
			bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>

		<h3>Fragen an den Datenschutzbeauftragten</h3>
		<p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die
			für den Datenschutz verantwortliche Person in unserer Organisation:</p>
		<p><em>Die Datenschutzerklärung wurde mit dem <a
					href="https://www.activemind.de/datenschutz/datenschutzhinweis-generator/" target="_blank"
					rel="noopener">Datenschutzerklärungs-Generator</a> der activeMind AG erstellt</em>.</p>
	</div>
</div>
